@model Code_First_ex.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <h2> Update Product Details </h2>
    <div> 
        @using (Html.BeginForm())
            {
               
                <div>
                    @Html.LabelFor(p=>p.ProductName)
                    <div>
                        @Html.EditorFor(p=>p.ProductName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.MfgName)
                    <div>
                        @Html.EditorFor(p=>p.MfgName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.Price)
                    <div>
                        @Html.EditorFor(p=>p.Price)
                    </div>
                </div>
                <div>
                    @Html.Label("Select CategoryName")
                    <div>
                        @Html.DropDownList("CategoryID","Select CategoryName")
                    </div>
                </div>
                <div>
                    <input type="submit" value="Update">
                </div>
            }
    </div>
</body>
</html>
