@model IEnumerable<code_first_ex.Models.Emp>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2> EMP List </h2>
    <div> 
        <table border="1">
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(p=>p.EmpID) </th>
                    <th> @Html.DisplayNameFor(p=>p.EmpName) </th>
                    <th> @Html.DisplayNameFor(p=>p.EmailID) </th>
                    <th> @Html.DisplayNameFor(p=>p.MobileNo) </th>
                    <th> @Html.DisplayNameFor(p=>p.Salary) </th>
                    <th> @Html.DisplayNameFor(p=>p.Dept.DeptName) </th>
                    <th> @Html.DisplayNameFor(p=>p.JoinDate) </th>
                </tr>
            </thead>
            @foreach(var temp in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(p=>temp.EmpID) </td>
                    <td> @Html.DisplayFor(p=>temp.EmpName) </td>
                    <td> @Html.DisplayFor(p=>temp.EmailID) </td>
                    <td> @Html.DisplayFor(p=>temp.MobileNo) </td>
                    <td> @Html.DisplayFor(p=>temp.Salary) </td>
                    <td> @Html.DisplayFor(p=>temp.Dept.DeptName) </td>
                    <td> @Html.DisplayFor(p=>temp.JoinDate) </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
