@model DBFirstCustomerEX.Models.CustomerTbl
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h2> Edit Customer Info </h2>
        <div>
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(p => p.CustomerID)
                <div>
                    @Html.LabelFor(p => p.CustomerName)
                    <div>
                        @Html.EditorFor(p => p.CustomerName)
                    </div>
                </div>

                <div>
                    @Html.LabelFor(p => p.EmailID)
                    <div>
                        @Html.EditorFor(p => p.EmailID)
                    </div>
                </div>

                <div>
                    @Html.LabelFor(p => p.CreditLimit)
                    <div>
                        @Html.EditorFor(p => p.CreditLimit)
                    </div>
                </div>

                <div>
                    @Html.LabelFor(p => p.AreaTbl.AreaName)
                    <div>
                        @Html.DropDownList("AreaID", "Select AreaName")
                    </div>
                </div>

                <div>
                    <input type="submit" value="Update" />
                </div>

                
            }
        </div>
    </div>
</body>
</html>
