@model IEnumerable<Emp>

<html>
    <head>
        <title> Home-Index </title>
    </head>
    <body>
        <h2> Emp List </h2>
        <a asp-action="Create"> Create New </a>
        <table border="1">
            <thead>
                <tr>
                <th align="center"> EmpID </th>
                <th align="center"> Emp Name </th>
                <th align="center"> DeptName</th>
                <th align="center"> EmailID </th>
                <th align="center"> Address </th>
                <th align="center"> Salary </th>
                <th align="center"> Actions </th>
            </tr>
            </thead>
            @foreach(var temp in Model)
            {
                <tr>
                <td align="center"> @temp.EmpID</td>
                <td align="center"> @temp.EmpName</td>
                <td align="center"> @temp.Department.DeptName</td>
                <td align="center"> @temp.EmailID</td>
                <td align="center"> @temp.Address</td>
                <td align="center"> @temp.Salary</td>
                <td align="center">
                    <a asp-action="Edit" asp-route-id="@temp.EmpID"> Edit </a>
                    <a asp-action="Delete" asp-route-id="@temp.EmpID"> Delete</a>
                </td>
            </tr>
            }
        </table>
    </body>
</html>
