@model CustAuthFilters_Ex.Models.UserVM
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    <div> 
        <h1> New User SignUp </h1>
        
        @using (Html.BeginForm())
            {
            <div>
                @Html.ValidationSummary(true)
            </div>
                <div>
                    @Html.LabelFor(p=>p.FirstName)
                    <div>
                        @Html.EditorFor(p=>p.FirstName)
                        @Html.ValidationMessageFor(p=>p.FirstName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.LastName)
                    <div>
                        @Html.EditorFor(p=>p.LastName)
                        @Html.ValidationMessageFor(p=>p.LastName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.Address)
                    <div>
                        @Html.EditorFor(p=>p.Address)
                        @Html.ValidationMessageFor(p=>p.Address)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.EmailID)
                    <div>
                        @Html.EditorFor(p=>p.EmailID)
                        @Html.ValidationMessageFor(p=>p.EmailID)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.MobileNo)
                    <div>
                        @Html.EditorFor(p=>p.MobileNo)
                        @Html.ValidationMessageFor(p=>p.MobileNo)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.Password)
                    <div>
                        @Html.EditorFor(p=>p.Password)
                        @Html.ValidationMessageFor(p=>p.Password)
                    </div>
                </div> <br />
                <div>
                    <input type="submit" value="SignUp" />
                    @Html.ActionLink("Click Here to SignIn","SignIn")
                </div>
            }
    </div>
</body>
</html>
