@model IEnumerable<Emp>
<html>
    <head>
        <title> home-Index </title>
    </head>
<link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
<script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    <body>
        <div class="container">
        <h2> Emp List </h2>
        <div class="row">
            <a asp-action="Create" class="btn btn-outline-danger w-auto"> Create New </a>
            <table class="border-4 bo">
                <thead>
                    <tr align="center">
                        <th > EmpID </th>
                    <th> EmpName </th>
                    <th> DeptName </th>
                    <th> EmailID </th>
                    <th> Address </th>
                    <th> Salary </th>
                    <th> Actions </th>
                    </tr>
                </thead>
                <hr />
                @foreach(var temp in Model)
                {
                    <tr>
                    <td align="center"> @temp.EmpID </td>
                    <td align="center"> @temp.EmpName </td>
                    <td align="center"> @temp.Department.DeptName </td>
                    <td align="center"> @temp.EmailID </td>
                    <td align="center"> @temp.Address </td>
                    <td align="center"> @temp.Salary </td>
                    <td align="center">
                        <a asp-action="Edit" class="btn btn-outline-info" asp-route-id="@temp.EmpID"> Edit </a>
                        <a asp-action="Delete" class="btn btn-outline-primary" asp-route-id="@temp.EmpID"> Delete </a>
                    </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    </body>
</html>