@model AntiForgeryEX.Models.Product
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <h2> Prodcut Form </h2>
    <div> 
        @using (Html.BeginForm())
            {

            @Html.AntiForgeryToken()
                <div>
                    @Html.LabelFor(p=>p.ProductID)
                    <div>
                        @Html.EditorFor(p=>p.ProductID)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.ProductName)
                    <div>
                        @Html.EditorFor(p=>p.ProductName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.MfgName)
                    <div>
                        @Html.EditorFor(p=>p.MfgName)
                    </div>
                </div>
                <div>
                    @Html.LabelFor(p=>p.Price)
                    <div>
                        @Html.EditorFor(p=>p.Price)
                    </div>
                </div>
                <input type="submit" value="Save" />
            }
    </div>
</body>
</html>
