@model IEnumerable<DBFirstEx18.Models.ProductTbl>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2> Product List </h2>
        <div>
            @Html.ActionLink("Create New","Create") 
            <hr />
            <table border="1">
                <thead>
                    <tr>
                        <th align="center"> @Html.DisplayNameFor(p => p.ProductId) </th>
                        <th align="center"> @Html.DisplayNameFor(p => p.ProductName) </th>
                        <th align="center"> @Html.DisplayNameFor(p=>p.MfgName) </th>
                        <th align="center"> @Html.DisplayNameFor(p=>p.CategoryTbl.CategoryName) </th>
                        <th align="center"> @Html.DisplayNameFor(p=>p.Price) </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                @foreach(var temp in Model)
            {
                <tr>
                    <td align="center"> @Html.DisplayFor(p=>temp.ProductId) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.ProductName) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.MfgName) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.CategoryTbl.CategoryName) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.Price) </td>
                    <td align="center">
                        @Html.ActionLink("Edit", "Edit", new {id=temp.ProductId})
                        @Html.ActionLink("Delete", "Delete", new {id=temp.ProductId})
                    </td>
                </tr>
            }
            </table>
        </div>
    </div>
</body>
</html>
