@model Emp
<html>
    <head>
        <title> Emp </title>
    </head>
    <body>
        <div>
            <h2> Emp Details </h2>
            <table border="1">
                <tr>
                    <td> EmpID: </td>
                    <td> @Model.EmpID </td>
                </tr>
                <tr>
                    <td> EmpName: </td>
                    <td> @Model.EmpName </td>
                </tr>
                <tr>
                     <td> DeptName </td>
                     <td> @Model.DeptName </td>
                </tr>
                <tr>
                    <td> EmailID </td>
                    <td> @Model.EmailID </td>
                </tr>
                <tr>
                    <td> MobileNo </td>
                    <td> @Model.MobileNo </td>
                </tr>
                <tr>
                    <td> Salary </td>
                    <td> @Model.Salary </td>
                </tr>
            </table>
        </div>
    </body>
</html>