@model DbFirstEg.Models.ProductTbl
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>
    <div>
        <h2> Update Product Details </h2>
        <hr />
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(p=>p.ProductID)

            <div>
                @Html.LabelFor(p => p.ProductName)
                <div>
                    @Html.EditorFor(p => p.ProductName)
                </div>
            </div>

            <div>
                @Html.LabelFor(p => p.MfgName)
                <div>
                    @Html.EditorFor(p => p.MfgName)
                </div>
            </div>

            <div>
                @Html.LabelFor(p => p.Price)
                <div>
                    @Html.EditorFor(p => p.Price)
                </div>
            </div>

            <div>
                @Html.LabelFor(p => p.CategoryTbl.CategoryName)
                <div>
                    @Html.DropDownList("CategoryID", "Select Category")
                </div>
            </div>

            <div>
                <input type="submit" value="Update" />
            </div>
        }
    </div>
</body>
</html>
