@model IEnumerable<Product>
<html>
    <head> 
        <title> Home-Index </title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <h2> Product List </h2>
        <div class="row">
        <a asp-action="Create" class="btn-primary"> Add New Product </a>
        <hr /> <br />
        <table border="1">
            <thead>
                <tr>
                    <th align="center"> ProductID </th>
                <th align="center"> Product Name </th>
                <th align="center"> Mfg Name </th>
                <th align="center"> Category Name </th>
                <th align="center"> Price </th>
                <th align="center"> Actions </th>
                </tr>
            </thead>
            @foreach(var temp in Model)
            {
                <tr>
                <td align="center"> @temp.ProductID </td>
                <td align="center"> @temp.ProductName </td>
                <td align="center"> @temp.MfgName </td>
                <td align="center"> @temp.Category.CategoryName </td>
                <td align="center"> @temp.Price </td>
                <td align="center">
                        <a asp-action="Edit" asp-route-id="@temp.ProductID" class="btn-info"> Edit </a>
                        <a asp-action="Delete" asp-route-id="@temp.ProductID" class="btn-danger"> Delete </a>
                    </td>
                </tr>
            }
        </table>
    </div>
    </body>
</html>