@model IEnumerable<CodeFirstEg.Models.Emp>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2> Employee List </h2>
        <hr />
        @Html.ActionLink("Create New","Create")
        <table border="1">
            <thead>
                <tr>
                    <td align="center"> @Html.DisplayNameFor(p=>p.EmpID) </td>
                    <td align="center"> @Html.DisplayNameFor(p=>p.EmpName) </td>
                    <td align="center"> @Html.DisplayNameFor(p=>p.EmailID) </td>
                    <td align="center"> @Html.DisplayNameFor(p=>p.Dept.DeptName) </td>
                    <td align="center"> @Html.DisplayNameFor(p=>p.Salary) </td>
                </tr>
            </thead>
            @foreach(var temp in Model)
            {
                <tr>
                    <td align="center"> @Html.DisplayFor(p=>temp.EmpID) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.EmpName) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.EmailID) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.Dept.DeptName) </td>
                    <td align="center"> @Html.DisplayFor(p=>temp.Salary) </td>
                    <td align="center">
                        @Html.ActionLink("Edit", "Edit", new { id = temp.EmpID })
                        @Html.ActionLink("Delete", "Delete", new { id = temp.EmpID })
                    </td>
                </tr>
            }
        </table>
    </div>
</body>
</html>
