@model IEnumerable<Emp>
<html>
<head>
    <title> Home-Index </title>
</head>
<body>
    <div>
        <h2> Employee List </h2>
        <hr />
        <div>
            <a asp-action="Create"> Create New </a>
            <table border="1">
                <thead>
                    <tr>
                        <th align="center"> Sr. No </th>
                        <th align="center"> Emp Name </th>
                        <th align="center"> Dept Name </th>
                        <th align="center"> EmailID </th>
                        <th align="center"> Salary </th>
                        <th align="center"> Actions </th>
                    </tr>
                </thead>
                @{
                   int SrNo=1;
                }
                @foreach(var temp in Model)
                {
                    <tr>
                        <td align="center"> @{SrNo++;} </td>
                        <td align="center"> @temp.EmpName </td>
                        <td align="center"> @temp.Dept.DeptName </td>
                        <td align="center"> @temp.EmailID </td>
                        <td align="center"> @temp.Salary </td>
                        <td align="center">
                            <a asp-action="Edit" asp-route-id="@temp.EmpID"> Edit </a>
                            <a asp-action="Delete" asp-route-id="@temp.EmpID"> Delete </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>