@model IEnumerable<codefirstcurdex.Models.Product>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h2> Product List </h2>
        <div>
            @Html.ActionLink("Add Product","Create")
            <table border="1">
                <thead>
                    <tr>
                        <th> @Html.DisplayNameFor(p=>p.ProductID) </th>
                        <th> @Html.DisplayNameFor(p=>p.ProductName) </th>
                        <th> @Html.DisplayNameFor(p=>p.MfgName) </th>
                        <th> @Html.DisplayNameFor(p=>p.Category.CategoryName) </th>
                        <th> @Html.DisplayNameFor(p=>p.Price) </th>
                        <th> Actions </th>
                    </tr>
                </thead>
                @foreach(var temp in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(p=>temp.ProductID) </td>
                    <td> @Html.DisplayFor(p=>temp.ProductName) </td>
                    <td> @Html.DisplayFor(p=>temp.MfgName) </td>
                    <td> @Html.DisplayFor(p=>temp.Category.CategoryName) </td>
                    <td> @Html.DisplayFor(p=>temp.Price) </td>
                    <td> 
                        @Html.ActionLink("Edit", "Edit", new {id=temp.ProductID}) 
                        @Html.ActionLink("Delete", "Delete", new {id=temp.ProductID})
                    </td>
                </tr>
            }
            </table>
        </div>
    </div>
</body>
</html>
