@model IEnumerable<Doctor>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h2 class="title">Doctor List</h2>
                    <a asp-action="Create" class="btn btn-primary"> Create New </a>
                    <hr />

                    <table class="table">
                        <thead>
                            <tr align="center">
                                <th> Sr.No </th>
                                <th> First Name </th>
                                <th> Last Name </th>
                                <th> Mobile No </th>
                                <th> Doctor Photo </th>
                                <th> Is Available </th>
                                <th> Address </th>
                                <th> Doctor Qualification </th>
                                <th> Actions </th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int srno = 1;
                            }
                            @foreach (var temp in Model)
                            {
                                <tr>
                                    <td align="center"> @srno </td>
                                    <td align="center"> @temp.FirstName</td>
                                    <td align="center"> @temp.LastName</td>
                                    <td align="center"> @temp.MobileNo</td>
                                    <td align="center"> @temp.DoctorPhoto   </td>
                                    <td align="center"> @temp.IsAvailable</td>
                                    <td align="center"> @temp.Address</td>
                                    <td align="center"> @temp.DoctorQualification</td>
                                    <td align="center">
                                        <a asp-action="Edit" asp-route-id="@temp.DoctorID" class="btn btn-info"> Edit </a>
                                        <a asp-action="Delete" asp-route-id="@temp.DoctorID" class="btn btn-Danger"> Delete </a>
                                    </td>
                                </tr>
                                srno++;
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>