@model IEnumerable<Customer>
<html>
    <head>
        <title> Home-Index </title>
    <link href="~/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <script src="~/bootstrap/js/bootstrap.bundle.js"></script>
    </head>
    <body>
        <div class="container">
            <h2> Customer List </h2>
            <div class="col-md-12">
                <a asp-action="Create"class="btn btn-link"> Create New </a>
            <form asp-action="SearchByArea" method="post">
                <table>
                    <tr>
                        <td> Select Area: </td>
                        <td>
                            <select name="AID" asp-items="@ViewBag.AreaID">
                                <option value="0"> Select Area </option>
                            </select>
                        </td>
                        <td> 
                            <input type="submit" value="Search" class="btn btn-light"/>
                        </td>
                    </tr>
                </table>
                </form>
                <table class="table">
                    <thead>
                        <tr align="center">
                            <th> CustomerID </th>
                            <th> Customer Name </th>
                            <th> EmailID </th>
                            <th> Mobile No </th>
                            <th> Area Name </th>
                            <th> Credit Limit </th>
                            <th> Actions </th>
                        </tr>
                    </thead>
                    @foreach(var temp in Model)
                    {
                    <tr>
                        <td align="center"> @temp.CustomerID </td>
                        <td align="center"> @temp.CustomerName </td>
                        <td align="center"> @temp.EmailID </td>
                        <td align="center"> @temp.MobileNo </td>
                        <td align="center"> @temp.Area.AreaName </td>
                        <td align="center"> @temp.CreditLimit </td>
                        <td align="center">
                                <a asp-action="Edit" asp-route-id=@temp.CustomerID class="btn btn-success">Edit</a>
                                <a asp-action="Delete" asp-route-id=@temp.CustomerID class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </body>
</html>