@model IEnumerable<MVC_EX.Models.Product>
<html>
    <head> 
        <title> Product List </title>
    </head>
    <body>
        <h2> Product List </h2>
        <table>
            <thead>
                <tr>
                    <th> @Html.DisplayNameFor(p=>p.ProductID) </th>
                    <th> @Html.DisplayNameFor(p=>p.ProductName) </th>
                    <th> @Html.DisplayNameFor(p=>p.MfgName) </th>
                    <th> @Html.DisplayNameFor(p=>p.Price) </th>
                </tr>
            </thead>
            @foreach(var temp in Model)
            {
                <tr>
                    <td> @Html.DisplayFor(p=>temp.ProductID) </td>
                    <td> @Html.DisplayFor(p=>temp.ProductName) </td>
                    <td> @Html.DisplayFor(p=>temp.MfgName) </td>
                    <td> @Html.DisplayFor(p=>temp.Price) </td>
                </tr>
            }
        </table>
    </body>
</html>